.create-post {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .create-post-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .input-file {
    display: none;
  }
  .create-post-header {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #20bf6b;
    font-weight: 700;
    letter-spacing: 0.4px;
  }
  .create-post input {
    outline: none;
    border: none;
    border-bottom: 2px solid #4b7bec;
    width: 200%;
    padding: 15px;
    margin: 10px;
    font-size: 20px;
  }
  
  .create-post-btn {
    padding: 8px;
    letter-spacing: 0.5px;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    background-color: #4b7bec;
  }
  .create-post-btn:hover {
    background-color: #20bf6b;
  }
  
  @media (max-width: 768px) {
    .create-post input {
      width: 130%;
      margin: 5px;
      font-size: 15px;
    }
    .create-post-header {
      font-size: 20px;
    }
  }
  